body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
}

/* video background styling */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Content Styling */
.content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #00FF00;
}

h1 {
  font-size: 4.5em;
  color: #00FF00;
  text-shadow: 0 0 10px #00FF00, 0 0 15px #00FF00, 0 0 20px #FF0000;
  animation: flicker 1.5s infinite alternate;
  margin-top: 50px;
}

@keyframes flicker {
  0% { text-shadow: 0 0 10px #00FF00, 0 0 15px #00FF00, 0 0 20px #FF0000; }
  50% { text-shadow: none; }
  100% { text-shadow: 0 0 10px #00FF00, 0 0 15px #00FF00, 0 0 20px #FF0000; }
}

#typing-effect {
  font-size: 1.5em;
  color: red;
  margin: 20px auto;
  margin-top: 40px;
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid red;
  animation: typing 4s steps(40) 1s 1 normal both, blink 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: fit-content; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.file-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  z-index: 1;
}

.file-card {
  display: inline-block;
  width: 250px;
  margin: 15px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #00FF00;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  cursor: pointer;
}

.file-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #00FF00;
  border: 2px solid yellow;
}

.file-card a {
  color: yellow;
  text-decoration: none;
  font-size: 1.2em;
  text-shadow: 0 0 10px yellow;
}
.file-card:hover a {
  color: purple;
}

.footer {
  text-align: center;
  margin-top: 50px;
  font-size: 1.2em;
  color: #ff2a04;
  background-color: #1c2720;
  padding: 20px;
}

.explore-button {
  background-color: #00FF00;
  color: #121212;
  border: none;
  padding: 15px 30px;
  font-size: 1.5em;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.explore-button:hover {
  background-color: #FF00FF;
  color: #00FF00;
  box-shadow: 0 0 20px #FF00FF;
}
